<!-- best seller -->
 <section class="best-seller mb-4 best-seller-allProducts my-4" *ngFor="let brand of brands">
    <h6 class="bg-main-color text-white px-4 py-3 rounded-pill text-uppercase overflow-hidden mb-4">
        <span class="float-left">{{brand.name_en}}</span> <a routerLink="../../bestseller/{{brand.id}}"
                                    class="btn rounded-pill float-right view-all text-secondary-color " >view all</a>
    </h6>
    <!-- Best Seller Products-->

    <div class="best-seller-products">
        <div class="row">
            
            <div class="col-lg-3 col-sm-6 mb-3 cursor-pointer" *ngFor="let product of brand.product;let i=index">
                <app-product [product]="product" [categoryName]="brand.department.name_en" *ngIf="i<4"></app-product>
                
            </div>
        </div>
    </div>
    <!-- Best Seller Products-->
</section>

<!-- ./best seller -->